{
  "WhisperURLs": [
	"http://localhost:8081/inference",
	"http://192.168.1.21:8081/inference",
	"http://192.168.1.21:8082/inference",
	"http://192.168.1.25:8081/inference"
  ],
  "PiperBin": "./piper/piper",
  "DefaultVoice": "en_GB-alba-tiny.onnx",
  "SampleRate": 16000,
  "OllamaURLs": ["http://localhost:11434/api/generate"],
  "OllamaChatURL": ["http://localhost:11434/api/chat"],
  "OllamaModel": "gemma3n:e2b",
  "WakeWords": ["alex", "alyx", "alix", "alecks", "alec"],
  "PassiveWindowSeconds": 30,
  "MaxArchiveTurns": 100,
  "MaxTokensGemini": 1000000,
  "MaxTokensOllama": 32000,
  "SystemPromptGemini": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Google Gemini: %s\n\nYour output is sent directly to a Text-to-Speech engine. \n\n You are speaking using the voice model: %s  \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\nYou MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested",
  "SystemPromptOllama": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Ollama using the %s model and speaking using the %s voice model. \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\n You MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested",
  "ToolSystemPrompt": "\nYou have access to the following external tools. To use a tool, you MUST output a JSON block wrapped EXACTLY in the following custom delimiters on its own line:\n|||TOOL_CALL\n{\n  \"toolName\": \"name_of_the_tool\",\n  \"actionName\": \"name_of_the_action\",\n  \"executionId\": \"a_unique_random_string_like_req123\",\n  \"params\": { ... }\n}\n|||\n\nHere are the registered tools and their available actions:\n%s\n\nWhen you output a |||TOOL_CALL||| block, the system will intercept it, execute the tool, and silently inject the [TOOL_RESULT] back into your context history. You can then comment on the result",
  "Admins": ["115910516501428077272"]
}