{
  "WhisperURLs": [
	"http://localhost:8081/inference",
	"http://192.168.1.21:8081/inference",
	"http://192.168.1.21:8082/inference",
	"http://192.168.1.25:8081/inference"
  ],
  "PiperBin": "./piper/piper",
  "DefaultVoice": "en_GB-alba-tiny.onnx",
  "SampleRate": 16000,
  "OllamaURLs": ["http://localhost:11434/api/generate"],
  "OllamaChatURL": ["http://localhost:11434/api/chat"],
  "OllamaModel": "gemma3n:e2b",
  "WakeWords": ["alex", "alyx", "alix", "alecks", "alec"],
  "PassiveWindowSeconds": 30,
  "MaxArchiveTurns": 100,
  "MaxTokensGemini": 1000000,
  "MaxTokensOllama": 32000,
  "SystemPromptGemini": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Google Gemini: %s\n\nYour output is sent directly to a Text-to-Speech engine. \n\n You are speaking using the voice model: %s  \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\nYou MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested",
  "SystemPromptOllama": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Ollama using the %s model and speaking using the %s voice model. \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\n You MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested",
  "ToolSystemPrompt": "### Tool Use Guidance\nYou have access to tools but you are primarily a conversational assistant. Only invoke tools when explicitly needed (e.g. the user asks you to remember something). Do NOT call a tool if you have already done so for the current request. Always respond conversationally to the user after any tool call — never call tools in a loop. If using a longer running tool like a web search, lt the user know in advance.",
  "Admins": [],
  "ModelLimits": {
    "gemini-3-flash-preview": {
      "RPM": 5,
      "TPM": 200000,
      "RPD": 20
    },
    "gemini-3.1-flash-lite-preview": {
      "RPM": 12,
      "TPM": 200000,
      "RPD": 400
    },
    "gemma-3-27b-it": {
      "RPM": 20,
      "TPM": 12000,
      "RPD": 10000
    },
    "gemma3n:e2b": {
      "RPM": 2,
      "TPM": 8000,
      "RPD": 4
    },
    "gemma3:1b-it-qat": {
      "RPM": 2,
      "TPM": 8000,
      "RPD": 4
    }
  },
  "DefaultLimit": {
    "RPM": 4,
    "TPM": 5000,
    "RPD": 20
  },
  "FallbackLLM": {
    "URL": "http://localhost:11434",
    "Models": ["gemma3n:270m","gemma3:1b-it-qat","llama3.2:1b"]
  }
}
