{
	"WhisperURLs": [
		"http://localhost:8081/inference"
	],
	"PiperBin": "./piper/piper",
	"DefaultVoice": "en_GB-alba-tiny.onnx",
	"SampleRate": 16000,
	"OllamaURLs": ["http://localhost:11434/api/generate"],
	"OllamaChatURL": ["http://localhost:11434/api/chat"],
	"OllamaModel": "gemma3:270m",
	"WakeWords": ["alex", "alyx", "alix", "alecks", "alec"],
	"PassiveWindowSeconds": 30,
	"MaxArchiveTurns": 100,
	"MaxTokensGemini": 1000000,
	"MaxTokensOllama": 32000,
	"SystemPromptGemini": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Google Gemini: %s\n\nYour output is sent directly to a Text-to-Speech engine. \n\n You are speaking using the voice model: %s  \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\nYou MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested, 4. NEVER offer to take actions beyond your conversational ability and any registered function calls",
	"SystemPromptOllama": "You are a voice-based AI assistant and companion. \n\n You are currently thinking using Ollama using the %s model and speaking using the %s voice model. \n\n Your output is sent directly to a Text-to-Speech engine. \n\n Your input is transcribed by a Speech-to-Text engine \n\n You MUST strictly follow these rules: 1. NEVER use emojis. 2. NEVER use markdown formatting like asterisks. 3. Keep responses conversational, concise, and easy to listen to. Avoid long verbose responses unless explicitly requested",
	"ToolSystemPrompt": "### Tool Use Guidance\nYou have access to tools but you are primarily a conversational assistant. Only invoke tools when explicitly needed (e.g. the user asks you to remember something). Do NOT call a tool if you have already done so for the current request. Always respond conversationally to the user after any tool call — never call tools in a loop. If using a longer running tool like a web search, lt the user know in advance.",
	"Admins": ["115910516501428077272"],
	"GeminiModels": [
		"gemini-3.1-flash-lite-preview",
		"gemma-3-27b-it",
		"gemma-3-12b-it",
		"gemma-3-4b-it",
		"gemma-3-1b-it",
		"gemma-3n-e4b-it",
		"gemma-3n-e2b-it"
	],
	"OllamaModels": ["llama3.2:3b", "llama3.2:1b", "gemma3:270m"],
	"ModelLimits": {
		"gemini-3.1-flash-lite-preview": {
			"RPM": 12,
			"TPM": 225000,
			"RPD": 480,
			"fallback": "gemini-3-flash-preview"
		},
		"gemini-3-flash-preview": {
			"RPM": 4,
			"TPM": 225000,
			"RPD": 18,
			"fallback": "gemini-2.5-flash-lite"
		},
		"gemini-2.5-flash-lite": {
			"RPM": 8,
			"TPM": 225000,
			"RPD": 18,
			"fallback": "gemma-3-27b-it"
		},

		"gemma-3-27b-it": {
			"RPM": 24,
			"TPM": 12000,
			"RPD": 12000,
			"fallback": "gemma-3-12b-it"
		},
		"gemma-3-12b-it": {
			"RPM": 24,
			"TPM": 12000,
			"RPD": 12000,
			"fallback": "[FallbackLLM]"
		},
		"gemma-3-4b-it": {
			"RPM": 24,
			"TPM": 12000,
			"RPD": 12000,
			"fallback": "[FallbackLLM]"
		},
		"gemma-3-2b-it": {
			"RPM": 24,
			"TPM": 12000,
			"RPD": 12000,
			"fallback": "[FallbackLLM]"
		},
		"gemma-3-1b-it": {
			"RPM": 24,
			"TPM": 12000,
			"RPD": 12000,
			"fallback": "[FallbackLLM]"
		},
		"gemma-3n-e2b-it": {
			"RPM": 2,
			"TPM": 6000,
			"RPD": 20,
			"fallback": "[FallbackLLM]"
		},
		"gemma-3n-e4b-it": {
			"RPM": 5,
			"TPM": 6000,
			"RPD": 20,
			"fallback": "[FallbackLLM]"
		}
	},
	"DefaultLimit": {
		"RPM": 5,
		"TPM": 5000,
		"RPD": 20
	},
	"FallbackLLM": {
		"URL": "http://localhost:11434/api/generate",
		"Models": ["llama3.2:3b", "gemma3:4b-it-qat", "gemma3:270m"]
	}
}
